If:
  PathMatch: src/.*\.h
  PathExclude: /usr/include/.*\.h

CompileFlags:
  Add: [-xc, -Wall, -Wextra, -pedantic, -D_POSIX_C_SOURCE=200809L]
  Remove: [-Wempty-translation-unit, -Wredefinition]
  Compiler: clang

Diagnostics:
  ClangTidy:
    Add: [modernize*]
